<div class="container">
  <h1>Available Toys</h1>
  <%= render 'shared/search' %>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% @toys.each do |toy| %>
      <div class="col p-3 d-flex justify-content-center">
        <%= link_to toy_path(toy) do %>
          <div class="card-trip m-3">
            <% if toy.photo.attached? %>
              <%= cl_image_tag toy.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1558877385-81a1c7e67d72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" />
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2> <%= toy.name %></h2>
                <p><%= toy.description %></p>
                <p class="category"><%= toy.category.name %></p>
              </div>
              <h2 class="card-trip-pricing">£<span><%= number_with_precision(toy.price, precision: 2) %> / day</span></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "List your toy", new_toy_path, class: "btn btn-toyorange m-3" %>
  </div>
</div>
