<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>List your toy</h1>
      <%= simple_form_for(@toy) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price, label: 'Price per day', input_html: { min: "0", step: 0.1 } %>
        <%= f.input :location %>
        <%= f.association :category %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-toyorange my-3 mr-3' %>
        <%= link_to "Cancel", toys_path, class: "btn btn-outline-secondary my-3 mr-3" %>
      <% end %>
    </div>
  </div>
</div>
