<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1><%= @toy.name %></h1>

      <div class="d-flex flex-column bd-highlight mb-3">
        <% if @toy.photo.attached? %>
          <%= cl_image_tag @toy.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p>Name: <%= @toy.name.capitalize %></p>
        <p>Description: <%= @toy.description. capitalize %></p>
        <p>Price per day: <%= @toy.price %></p>
        <p>Location: <%= @toy.location %></p>
        <p>Category: <%= @toy.category.name %></p>
      </div>

      <div>
        <% if @toy.user == current_user %>
          <%= link_to "Edit", edit_toy_path(@toy), class: 'btn btn-outline-warning' %>
        <% else %>
          <%= link_to "Request this toy", new_toy_offer_path(@toy), class: 'btn btn-toyorange' %>
        <% end %>
        <%= link_to "Back to toys", toys_path, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div>
</div>
