<div class=“container”>
  <div class=“row justify-content-center”>
    <div class=“col-md-8”>

      <h1>Create a new Offer for <%= @toy.name %></h1>

      <%= simple_form_for([@toy, @offer]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :location %>
        <%= f.button :submit, class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
