<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Your request</h1>
      <div class="d-flex flex-column bd-highlight mb-3">
        <p> Start date: <%= @offer.start_date %></p>
        <p> End date: <%= @offer.end_date %></p>
        <p>Location: <%= @offer.location %></p>
        <p> <%= @num_of_days %> days </p>
        <p> Status: <%= @offer.accepted ? "Request accepted" : "Request pending" %></p>
        <p> Total price £<%= @num_of_days * @offer.toy.price %></p>
      </div>
    </div>
    </div>
  <div class="text-center">
    <%= link_to "Back to toys", toys_path, class: "btn btn-toyorange" %>
  </div>
</div>
